/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  text-align: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 1108px;
}

.control_panel {
  margin-top: 272px;
  padding-left: 20px;
  float: left;
}

.control_panel img {
  margin-bottom: 64px;
}

/* Bookshelf styling */

.bookshelf {
  float: left;
  margin: 0;
  padding: 0;
  background-image: url('/assets/shelf_background.jpg');
  width: 1024px;
}

.bookshelf_walls {
  margin: 0;
  padding: 0;
  background-image: url('/assets/shelf_walls.png');
  width: 1024px;
  height: 756px;
}

.bookshelf_row {
  margin: 0;
  padding: 0;
  background-image: url('/assets/shelf_row.png');
  width: 1024px;
  height: 252px;
}

.bookshelf_under_shadow {
  margin: 0;
  padding: 0;
  background-image: url('/assets/shelf_under_shadow.png');
  width: 1024px;
  min-height: 85px;
}

.bookshelf_slide {
  /* iPhoneSlide */
  position: relative;
  width: 1024px;
  height: 252px;
  overflow: hidden;
  margin: 0 auto;
}

.bookshelf_handler {
  /* iphoneSlide */
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 252px;
}

.bookshelf_page {
  /* iphoneSlide */
  float: left;
  display: none;
  cursor: pointer;
  width: 1024px;
  height: 252px;
}

.book_end {
  float: left;
  width: 32px;
  height: 252px;
}

.book {
  float: left;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  /*background-image: url('/assets/book_shadow.png');*/
  width: 192px;
  height: 202px;
  cursor: pointer;
}

.book img {
  -o-box-shadow:      0px -10px 45px #000;
  -icab-box-shadow:   0px -10px 45px #000;
  -khtml-box-shadow:  0px -10px 45px #000;
  -moz-box-shadow:    0px -10px 45px #000;
  -webkit-box-shadow: 0px -10px 45px #000;
  box-shadow:         0px -10px 45px #000;
}