/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  text-align: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 800px;
}

.control_panel {
  margin-top: 25px;
  padding-left: 20px;
  float: left;
}

.control_panel_trailing_space {
  margin-bottom: 10px;
}

.show-book-control-panel {
  padding-left: 20px;
}

/* Bookshelf Styling */

.bookshelf {
  float: left;
  margin: 0;
  padding: 0;
}

#bookshelf_regular_background {
  width: 1024px;
  background-image: url('/assets/shelf_background.jpg');
}

#bookshelf_isotope_background {
  width: 675px;
  padding-left: 32px;
  background-image: url('/assets/shelf_background_isotope.jpg');
}

.bookshelf_walls {
  margin: 0;
  padding: 0;
  background-image: url('/assets/shelf_walls.png');
  width: 1024px;
  height: 756px;
}

.bookshelf_row {
  margin: 0;
  padding: 0;
  background-image: url('/assets/shelf_row.png');
  background-repeat: repeat-y;
  width: 1024px;
  height: 252px;
}

.bookshelf_under_shadow {
  margin: 0;
  padding: 0;
  background-image: url('/assets/shelf_under_shadow.png');
  width: 1024px;
  min-height: 85px;
}

.book_end {
  float: left;
  width: 32px;
  height: 252px;
}

.book {
  float: left;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  /*background-image: url('/assets/book_shadow.png');*/
  width: 132px;
  height: 202px;
  cursor: pointer;
}

.book img {
  height: 150px;
  -o-box-shadow:      0px -10px 45px #000;
  -icab-box-shadow:   0px -10px 45px #000;
  -khtml-box-shadow:  0px -10px 45px #000;
  -moz-box-shadow:    0px -10px 45px #000;
  -webkit-box-shadow: 0px -10px 45px #000;
  box-shadow:         0px -10px 45px #000;
}

#book-detail {
  display: none;
  position: fixed;
  font-size: 20px;
  background-color:rgba(255,255,255,0.9);
  width: 620px;
  height:330px;
  z-index: 100;
  top: 90px;
  left: 6%;
  margin-top: 0px;
  color: black;
  -o-box-shadow:      0px 0px 50px #000;
  -icab-box-shadow:   0px 0px 50px #000;
  -khtml-box-shadow:  0px 0px 50px #000;
  -moz-box-shadow:    0px 0px 50px #000;
  -webkit-box-shadow: 0px 0px 50px #000;
  box-shadow:         0px 0px 50px #000;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

#book-detail img {
  height: 300px;
  -o-box-shadow:      0px 0px 25px #000;
  -icab-box-shadow:   0px 0px 25px #000;
  -khtml-box-shadow:  0px 0px 25px #000;
  -moz-box-shadow:    0px 0px 25px #000;
  -webkit-box-shadow: 0px 0px 25px #000;
  box-shadow:         0px 0px 25px #000;
}

#book-detail-cover {
  float: left;
  margin-top: 25px;
  margin-left: 20px;
}

#book-detail-title, #book-detail-author {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 50px;
}

#book-detail-description {
  padding: 10px;
  padding-left: 10px;
  margin: 5px;
  margin-left: 200px;
  text-align: left;
  font-size: 10px;
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* Search Styling */

#search-detail {
  display: none;
  position: fixed;
  font-size: 20px;
  text-align: right;
  color: black;
  background-color:rgba(255,255,255,0.9);
  width: 620px;
  height: 330px;
  z-index: 200;
  top: 90px;
  left: 6%;
  -o-box-shadow:      0px 0px 50px #000;
  -icab-box-shadow:   0px 0px 50px #000;
  -khtml-box-shadow:  0px 0px 50px #000;
  -moz-box-shadow:    0px 0px 50px #000;
  -webkit-box-shadow: 0px 0px 50px #000;
  box-shadow:         0px 0px 50px #000;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

#search-detail-icon {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}

#search-detail-title {
  margin-top: 30px;
  margin-right: 30px;
}

#search-detail-author,
#search-detail-desc,
#search-detail-genre,
#search-detail-pubdate {
  margin-right: 30px;
}

#search-detail-termBox {
  background-color:rgba(0,0,255,0.75);
  width: 350px;
  height: 100px;
  z-index: 50;
  float: right;
  margin-top: 50px;
  margin-right: 30px;
  -o-box-shadow:      0px 0px 25px #00F;
  -icab-box-shadow:   0px 0px 25px #00F;
  -khtml-box-shadow:  0px 0px 25px #00F;
  -moz-box-shadow:    0px 0px 25px #00F;
  -webkit-box-shadow: 0px 0px 25px #00F;
  box-shadow:         0px 0px 25px #00F
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

#search-detail-termBox-term {
  font-size: 40px;
  color: white;
  text-align: center;
  margin-top:25px;
}

#auth-box {
  display: none;
}
