/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  text-align: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 1108px;
}

.control_panel {
  margin-top: 146px;
  padding-left: 20px;
  float: left;
}

.control_panel_trailing_space {
  margin-bottom: 64px;
}

.show-book-control-panel {
  padding-left: 20px;
}

/* Bookshelf styling */

.bookshelf {
  float: left;
  margin: 0;
  padding: 0;
  background-image: url('/assets/shelf_background.jpg');
  width: 1024px;
}

.bookshelf_walls {
  margin: 0;
  padding: 0;
  background-image: url('/assets/shelf_walls.png');
  width: 1024px;
  height: 756px;
}

.bookshelf_row {
  margin: 0;
  padding: 0;
  background-image: url('/assets/shelf_row.png');
  width: 1024px;
  height: 252px;
}

.bookshelf_under_shadow {
  margin: 0;
  padding: 0;
  background-image: url('/assets/shelf_under_shadow.png');
  width: 1024px;
  min-height: 85px;
}

.book_end {
  float: left;
  width: 32px;
  height: 252px;
}

.book {
  float: left;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  /*background-image: url('/assets/book_shadow.png');*/
  width: 192px;
  height: 202px;
  cursor: pointer;
}

.book img {
  height: 150px;
  -o-box-shadow:      0px -10px 45px #000;
  -icab-box-shadow:   0px -10px 45px #000;
  -khtml-box-shadow:  0px -10px 45px #000;
  -moz-box-shadow:    0px -10px 45px #000;
  -webkit-box-shadow: 0px -10px 45px #000;
  box-shadow:         0px -10px 45px #000;
}

#book-detail {
  display: none;
  background-color:rgba(255,255,255,0.9);
  width: 700px;
  height: 400px;
  z-index: 100;
  position: relative;
  top: 160px;
  left: 160px;
  margin-top: 0px;
  color: black;
  -o-box-shadow:      0px 0px 50px #000;
  -icab-box-shadow:   0px 0px 50px #000;
  -khtml-box-shadow:  0px 0px 50px #000;
  -moz-box-shadow:    0px 0px 50px #000;
  -webkit-box-shadow: 0px 0px 50px #000;
  box-shadow:         0px 0px 50px #000;
}

#book-detail img {
  margin-top: -20px;
  margin-bottom: 30px;
  -o-box-shadow:      0px 0px 25px #000;
  -icab-box-shadow:   0px 0px 25px #000;
  -khtml-box-shadow:  0px 0px 25px #000;
  -moz-box-shadow:    0px 0px 25px #000;
  -webkit-box-shadow: 0px 0px 25px #000;
  box-shadow:         0px 0px 25px #000;
}

#book-detail-cover, 
#book-detail-title,
#book-detail-author,
#book-detail-desc,
#book-detail-genre,
#book-detail-pubdate {
  width: 100px;
  height: 20px;
}

#search-detail {
  display: none;
  font-size: 30px;
  text-align: right;
  padding: 30px;
  margin-right: auto;
  background-color: white;
  width: 700px;
  height: 400px;
  z-index: 100;
  position: relative;
  top: -500px;
  left: 160px;
  opacity: 0.9;
  color: black;
}

#search-detail-termBox {
  background-color: Blue;
  width: 350px;
  height: 100px;
  z-index: 50;
  position: relative;
  float: right;
  margin-right:50px;
  margin-bottom:50px;
}

#search-detail-termBox-term {
  font-size: 40px;
  color: Yellow;
  text-align: center;
  margin-top:20px;
}